@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #fa0b0b;
    --navbar-bg: #e4e2e2;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --grayish-color: #f1f1f1;
    --font-family: 'Inter', sans-serif;
}

/* Hero Section Start */
.hero-section {
    background: var(--grayish-color);
}

.get-help-btn {
    background:var(--primary-color);
    color: var(--text-color-light);
    outline: 2px solid var(--text-color-dark)
}

.get-help-btn:hover {
    background:var(--text-color-dark);
    color: var(--text-color-light);
    outline: 2px solid var(--primary-color)
}
/* Hero Section End */

/* Feature Section Start */
.feature-icon {
    border-radius: 50%;
    border: 3px solid var(--navbar-bg);
    color: var(--primary-color)
}

.feature-type {
    cursor: pointer;
}

.feature-type:hover .feature-icon {
    border: 3px solid var(--primary-color);
}

.feature-amount {
    color: var(--primary-color)
}

.feature-type:hover .feature-amount {
    transform: scale(1.05);
}
/* Feature Section End */

/* Services Offered Section Start */
h2 span {
    color: var(--primary-color)
}
/* Services Offered Section End */