@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #fa0b0b;
    --navbar-bg: #e4e2e2;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --grayish-color: #f1f1f1;
    --link-hover: rgb(12, 108, 12);
    --font-family: 'Inter', sans-serif;
}

.login-section {
    background: url('../../../../public/images/login-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.login-container {
    width: 360px;
    border-radius: 10px;
    background: rgba(250,250,250,0.6);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.register-link:hover {
    color: var(--link-hover) !important
}

.togglerIcon i {
    margin-left: -37px;
    z-index: 200;
    cursor: pointer;
}